@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(177, 177, 204, 0.534);
}

header > h1,h2{
    text-align: center;

}

section#sectionNjogos{
    display: block;
    width: 300px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.37);
    padding: 10px;
    background-color: rgb(136, 136, 148);
}

div{
    display: block;
    margin: auto;
    text-align: center;
}

section#sectionNjogos > div.botoesNjogos{
    padding: 5px;  
}

 div#selecionarQtdeNum{
    width:400px;
    height: 10px;
    padding: 20px;
}
section#sectionNjogos > div.botoesNjogos > input {
    background-color: white;
    border-radius: 50%;
    padding: 15px;

}

/*Botoes */
section#sectionNjogos > div.bt > input{
    padding: 8px;
    width: 200px;
    margin: 8px;
    border-radius: 5px;
    background-color: rgba(118, 134, 134, 0.603);
    color: white;
    font-size: 1em;
}
/*Botão enviar*/
section#sectionNjogos > div.bt> input:hover{
    cursor: pointer;
}
/*Mostra as informações */
section#sectionNjogos > div#informacoes{
    margin-top: 20px;
    vertical-align: 10px;
    border-radius: 10px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    line-height: 1.5em;
   
}

section#estatisticas{
    padding: 10px;
}



   